n8n_XiCON_KLEIN_poster_maker_v2.json
{
  "name": "XiCON_KLEIN_poster_maker_v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "image-edit-qwen",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        128
      ],
      "id": "30bbede0-5d24-498b-a0ec-38f1eb8131fb",
      "name": "Webhook",
      "webhookId": "image-edit-qwen",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## XiCON KLEIN Poster Maker v2\n### 역할:\n- 제품 이미지 → 영화 포스터 스타일 홍보 이미지 생성\n\n### 입력 데이터 (input_data):\n- image_url: 제품 이미지\n- prompt: 홍보 문구/스타일 설명\n\n### Endpoint:\n- fbzd6b0hcz2y0l",
        "height": 340,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1792,
        144
      ],
      "id": "f80cb19e-6171-4dae-893f-00a70ae7540e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// 업로드된 이미지의 공개 URL 생성\nconst userId = $('Execute a SQL query1').first().json.user_id;\nconst workId = $('Extract Image Data1').first().json.work_id;\nconst filename = $('Extract Image Data1').first().json.filename;\n\nconst imageUrl = `https://inwtsfxxunljfznahixt.supabase.co/storage/v1/object/public/works/${userId}/${workId}/${filename}`;\n\nreturn {\n  json: {\n    image_url: imageUrl,\n    work_id: workId,\n    user_id: userId,\n    filename: filename\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        336
      ],
      "id": "3b08f4b7-978e-4a73-a6a1-3ab91601e026",
      "name": "Build Image URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer\t",
              "value": "https://xicon.co.kr"
            },
            {
              "name": "X-Title\t",
              "value": "XiCON Title Generator"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'openai/gpt-4o-mini',\n  messages: [\n    { \n      role: 'system', \n      content: '이미지를 분석하고 한국어 제목을 10자 이하로 생성하세요. JSON 형식으로만 출력: {\"title\": \"제목\"}' \n    },\n    { \n      role: 'user', \n      content: [\n        { type: 'text', text: '이 이미지에 어울리는 한국어 제목을 생성해주세요.' },\n        { type: 'image_url', image_url: { url: $json.image_url } }\n      ]\n    }\n  ],\n  max_tokens: 50,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        336
      ],
      "id": "5b3692d0-6c64-4f03-a9f7-ea54f6d7cf8c",
      "name": "Call Vision API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "p7Cd2ie6AJ6kAF33",
          "name": "OpenRouter_XiCON_2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Vision API 응답에서 title 추출\nlet title = \"AI 생성 이미지\";\n\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  title = (parsed.title || \"AI 생성 이미지\").substring(0, 10);\n} catch (e) {\n  console.log('Title parse error:', e.message);\n}\n\nreturn {\n  json: {\n    title: title,\n    // 이전 데이터 유지\n    image_url: $('Build Image URL').first().json.image_url,\n    work_id: $('Build Image URL').first().json.work_id,\n    user_id: $('Build Image URL').first().json.user_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        336
      ],
      "id": "54bbc784-0095-47e7-95fe-3fe6ae9eeaa6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "file_id",
              "name": "file_id",
              "value": "={{ $json.file_id }}",
              "type": "string"
            },
            {
              "id": "work_id",
              "name": "work_id",
              "value": "={{ $json.work_id }}",
              "type": "string"
            },
            {
              "id": "output_data_json",
              "name": "output_data_json",
              "value": "={{ $('Build ComfyUI Payload1').all()[$itemIndex].json.generation_metadata }}",
              "type": "string"
            },
            {
              "id": "d6805889-1691-4ca8-884b-fdecc4efd585",
              "name": "title",
              "value": "={{ $('Code in JavaScript').item.json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        336
      ],
      "id": "b7e2d20f-b2e0-44e0-8d2c-1beff497b9c5",
      "name": "Prepare Update Data1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  gj.id as job_id,\n  gj.work_id,\n  w.*,\n  t.id as template_id,\n  t.template_name,\n  t.is_active\n\nFROM generation_jobs gj\nINNER JOIN works w ON gj.work_id = w.id\nLEFT JOIN templates t ON w.template_id = t.id\n\nWHERE \n  gj.status = 'pending'\n  AND t.template_name = 'XiCON_KLEIN_Poster_Maker_v1'  -- Poster Maker 템플릿\n  AND t.is_active = true\n  \nORDER BY gj.priority DESC, gj.created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        128
      ],
      "id": "08da4374-f075-4b38-8056-0cdcc27849a9",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "oK2dPeiNRFB9Po8Q",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        -16
      ],
      "id": "4f9af851-a753-45f5-bcc2-b85fb35c13a7",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "bT4c2DPjiOHofzLQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Edit request: {{ $('Execute a SQL query1').item.json.input_data.edit_request }}\n\nConvert this to English.",
        "options": {
          "systemMessage": "=You are an image editing prompt translator. Convert Korean edit requests to English instructions.\n\nRules:\n1. Output ONE English sentence\n2. Start with action verb (Change, Replace, Blend, Add, Remove)\n3. Reference \"image 1\" (base), \"image 2\" (background), \"image 3\" (reference)\n4. Do NOT ask questions - just translate\n\nExample:\nInput: \"배경을 바꿔줘\"\nOutput: \"Change the background in image 1 to match image 2.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -320,
        128
      ],
      "id": "d537186a-aaeb-4b67-9b06-051cb02922e2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "works",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Execute a SQL query1').item.json.work_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -416,
        640
      ],
      "id": "edaa9630-2821-452c-9e83-663a62405667",
      "name": "Update Works to Cancelled1",
      "credentials": {
        "supabaseApi": {
          "id": "CSWlnQ927dKwfJoO",
          "name": "Supabase_XICON(TBD)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "works",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Execute a SQL query1').item.json.work_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -416,
        496
      ],
      "id": "c2bacc61-a7d8-477e-b845-7f89e0ec5801",
      "name": "Update Works to Failed1",
      "credentials": {
        "supabaseApi": {
          "id": "CSWlnQ927dKwfJoO",
          "name": "Supabase_XICON(TBD)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "works",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Extract Image Data1').item.json.work_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "output_file_id",
              "fieldValue": "={{ $('Create Files Record1').item.json.id }}"
            },
            {
              "fieldId": "output_data",
              "fieldValue": "={{ $json.output_data_json }}"
            },
            {
              "fieldId": "thumbnail_file_id",
              "fieldValue": "={{ $('Create Files Record1').item.json.id }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "{\"I2I\", \"Image_Edit\", \"합성\", \"나노바나나\"}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        336
      ],
      "id": "2d36ec7d-b2fa-4800-971f-4cce38305af9",
      "name": "Update Works to Completed1",
      "credentials": {
        "supabaseApi": {
          "id": "CSWlnQ927dKwfJoO",
          "name": "Supabase_XICON(TBD)"
        }
      }
    },
    {
      "parameters": {
        "tableId": "files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bucket_id",
              "fieldValue": "=works"
            },
            {
              "fieldId": "file_path",
              "fieldValue": "={{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Extract Image Data1').item.json.work_id }}/{{ $('Extract Image Data1').item.json.filename }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $('Extract Image Data1').item.json.filename }}"
            },
            {
              "fieldId": "file_size",
              "fieldValue": "={{ $('Upload to Storage1').item.json.size || 0 }}"
            },
            {
              "fieldId": "file_type",
              "fieldValue": "=image/png"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Image Data1').item.json.user_id }}"
            },
            {
              "fieldId": "work_id",
              "fieldValue": "={{ $('Extract Image Data1').item.json.work_id }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $('Upload to Storage1').item.json.Id }}"
            },
            {
              "fieldId": "width",
              "fieldValue": "=1024"
            },
            {
              "fieldId": "height",
              "fieldValue": "=1472"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        336
      ],
      "id": "248b5059-b145-48b0-a47a-5cdf4d68f410",
      "name": "Create Files Record1",
      "credentials": {
        "supabaseApi": {
          "id": "CSWlnQ927dKwfJoO",
          "name": "Supabase_XICON(TBD)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://inwtsfxxunljfznahixt.supabase.co/storage/v1/object/works/{{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Execute a SQL query1').item.json.work_id }}/{{ $('Extract Image Data1').item.json.filename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        336
      ],
      "id": "1e80554c-af4f-4279-bfe8-c6a8e1cc7334",
      "name": "Upload to Storage1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2d2J6D3c7qf3JGGP",
          "name": "Supabase_Role"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        336
      ],
      "id": "6f6d6379-b072-46cd-9d30-157831b97f5e",
      "name": "Convert to File1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "image_base64",
              "name": "image_base64",
              "value": "={{ $('Check RunPod Status1').item.json.output.image }}",
              "type": "string"
            },
            {
              "id": "filename",
              "name": "filename",
              "value": "=XiCON_Poster_{{ $('Execute a SQL query1').item.json.id }}_{{ Date.now() }}.png",
              "type": "string"
            },
            {
              "id": "work_id",
              "name": "work_id",
              "value": "={{ $('Execute a SQL query1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $('Execute a SQL query1').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "runpod_job_id",
              "name": "runpod_job_id",
              "value": "={{ $('Submit to RunPod1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "4ae3fc1a-90ed-42f9-9528-f3828f5bc2f2",
              "name": "project_id",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        336
      ],
      "id": "d24266d7-d17f-48c4-9f3f-20d0afda0915",
      "name": "Extract Image Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "work_id",
              "name": "work_id",
              "value": "={{ $('Execute a SQL query1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "runpod_job_id",
              "name": "runpod_job_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $('Execute a SQL query1').item.json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        800
      ],
      "id": "28aa98dd-1945-48f6-95ce-465a83e30ae9",
      "name": "Preserve Input Data1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -960,
        336
      ],
      "id": "6b34904d-7b20-45a4-a482-6029ac495960",
      "name": "Wait 5s1",
      "webhookId": "wait-image-edit"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "completed-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "failed-condition",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cancelled-condition",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CANCELLED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelled"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -624,
        336
      ],
      "id": "b632cf9b-faf0-4691-8b00-0a78f24f2d9b",
      "name": "Switch (Status)1"
    },
    {
      "parameters": {
        "url": "=https://api.runpod.ai/v2/fbzd6b0hcz2y0l/status/{{ $json.runpod_job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        336
      ],
      "id": "fef088c8-6032-46f3-abb3-21bc7636ebba",
      "name": "Check RunPod Status1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VnSRamgasodbgGr1",
          "name": "runpod_serverless_api"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "works",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Execute a SQL query1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "runpod_job_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "id": "d5c618a6-49b5-4d1d-adac-7df093e5da5b",
      "name": "Update Works to Processing1",
      "credentials": {
        "supabaseApi": {
          "id": "CSWlnQ927dKwfJoO",
          "name": "Supabase_XICON(TBD)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runpod.ai/v2/fbzd6b0hcz2y0l/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: $json.input }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        128
      ],
      "id": "1f49d387-7b13-4945-b975-c579fdd374e0",
      "name": "Submit to RunPod1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VnSRamgasodbgGr1",
          "name": "runpod_serverless_api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// XiCON KLEIN Poster Maker - Payload Builder\n// ============================================================\n\nconst sqlData = $('Execute a SQL query1').item.json;\nconst inputData = sqlData.input_data || {};\n\n// XiCON Poster Maker 입력 (reference_image = template request_key)\nconst image_url = inputData.reference_image || inputData.image_url || inputData.product_image || \"\";\nconst prompt = inputData.prompt || \"A dramatic movie poster\";\n\nreturn {\n  json: {\n    input: {\n      image_url: image_url,\n      prompt: prompt\n    },\n    work_id: sqlData.id,\n    generation_metadata: {\n      prompt: prompt,\n      image_url: image_url,\n      model: \"XiCON_KLEIN_Poster_Maker\",\n      width: 1024,\n      height: 1472,\n      submitted_at: new Date().toISOString()\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        128
      ],
      "id": "be6def68-a560-402f-8ae1-9b4ff66f130d",
      "name": "Build ComfyUI Payload1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "generation_jobs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Execute a SQL query1').item.json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "taken"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -496,
        128
      ],
      "id": "b6fe27e7-77ee-47e1-aade-09d7dc7d73f5",
      "name": "Mark as Taken1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CSWlnQ927dKwfJoO",
          "name": "Supabase_XICON(TBD)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-jobs-exist",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        128
      ],
      "id": "00439ecc-b845-4043-bc2e-100f6abda086",
      "name": "IF Jobs Exist1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image URL": {
      "main": [
        [
          {
            "node": "Call Vision API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Vision API": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create Files Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data1": {
      "main": [
        [
          {
            "node": "Update Works to Completed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "IF Jobs Exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Build ComfyUI Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Files Record1": {
      "main": [
        [
          {
            "node": "Prepare Update Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Storage1": {
      "main": [
        [
          {
            "node": "Build Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload to Storage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Data1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Input Data1": {
      "main": [
        [
          {
            "node": "Wait 5s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s1": {
      "main": [
        [
          {
            "node": "Check RunPod Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (Status)1": {
      "main": [
        [
          {
            "node": "Extract Image Data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Works to Failed1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Works to Cancelled1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preserve Input Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RunPod Status1": {
      "main": [
        [
          {
            "node": "Switch (Status)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Works to Processing1": {
      "main": [
        [
          {
            "node": "Wait 5s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to RunPod1": {
      "main": [
        [
          {
            "node": "Update Works to Processing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ComfyUI Payload1": {
      "main": [
        [
          {
            "node": "Submit to RunPod1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Taken1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Jobs Exist1": {
      "main": [
        [],
        [
          {
            "node": "Mark as Taken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "862c61f1-9f9f-4ddf-bfb1-ac8a77fbd9b4",
  "meta": {
    "instanceId": "26a09eeaa933a3a2d5e5c7464dde43295983bb154399dc6a66530ea2d2ec62e0"
  },
  "id": "vxVht2JCbrQxCp5y",
  "tags": []
}