n8n_XiCON_KLEIN_poster_maker_v2.json
{"updatedAt":"2026-02-11T10:23:22.946Z","createdAt":"2026-02-06T08:04:17.681Z","id":"vxVht2JCbrQxCp5y","name":"XiCON_KLEIN_poster_maker_v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"poster_maker","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,-112],"id":"b9b32838-55dc-431f-8140-1faa9cf220ec","name":"Webhook","webhookId":"image-edit-qwen"},{"parameters":{"jsCode":"// 업로드된 이미지의 공개 URL 생성\nconst userId = $('Execute a SQL query1').first().json.user_id;\nconst workId = $('Extract Image Data1').first().json.work_id;\nconst filename = $('Extract Image Data1').first().json.filename;\n\nconst imageUrl = `https://inwtsfxxunljfznahixt.supabase.co/storage/v1/object/public/works/${userId}/${workId}/${filename}`;\n\nreturn {\n  json: {\n    image_url: imageUrl,\n    work_id: workId,\n    user_id: userId,\n    filename: filename\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,96],"id":"cac31af9-c3b6-4f02-8eb4-e2be4c19676e","name":"Build Image URL"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Vision API 응답에서 title 추출\nlet title = \"AI 생성 이미지\";\n\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  title = (parsed.title || \"AI 생성 이미지\").substring(0, 10);\n} catch (e) {\n  console.log('Title parse error:', e.message);\n}\n\nreturn {\n  json: {\n    title: title,\n    // 이전 데이터 유지\n    image_url: $('Build Image URL').first().json.image_url,\n    work_id: $('Build Image URL').first().json.work_id,\n    user_id: $('Build Image URL').first().json.user_id\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,96],"id":"10eba003-0d7b-4cc0-96eb-7bf070e9c977","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"file_id","name":"file_id","value":"={{ $json.file_id }}","type":"string"},{"id":"work_id","name":"work_id","value":"={{ $json.work_id }}","type":"string"},{"id":"output_data_json","name":"output_data_json","value":"={{ $('Build ComfyUI Payload1').all()[$itemIndex].json.generation_metadata }}","type":"string"},{"id":"d6805889-1691-4ca8-884b-fdecc4efd585","name":"title","value":"={{ $('Code in JavaScript').item.json.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,96],"id":"352831f1-9d73-4257-a9f4-182b035f4e12","name":"Prepare Update Data1"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  gj.id as job_id,\n  gj.work_id,\n  w.*,\n  t.id as template_id,\n  t.template_name,\n  t.is_active\n\nFROM generation_jobs gj\nINNER JOIN works w ON gj.work_id = w.id\nLEFT JOIN templates t ON w.template_id = t.id\n\nWHERE \n  gj.status = 'pending'\n  AND t.template_name = 'XiCON_KLEIN_Poster_Maker_v1'  -- Poster Maker 템플릿\n  AND t.is_active = true\n  \nORDER BY gj.priority DESC, gj.created_at ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-592,-112],"id":"03e9cadd-331c-4bbb-89e1-ab8111514d9e","name":"Execute a SQL query1","credentials":{"postgres":{"id":"oK2dPeiNRFB9Po8Q","name":"Postgres account"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,-256],"id":"ee7c6ef7-6619-4faf-8937-2cce2667d3ea","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"bT4c2DPjiOHofzLQ","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Stage 1 (매거진 디자인):\n{{ $('Execute a SQL query1').item.json.input_data.prompt_stage1 }}\n\nStage 2 (최종 연출):\n{{ $('Execute a SQL query1').item.json.input_data.prompt_stage2 }}\n\nConvert these Korean descriptions into professional English prompts for ComfyUI image generation.","options":{"systemMessage":"You are a ComfyUI Poster Design Prompt Engineer.\n\n## Your Role\nConvert the user's Korean descriptions into two professional English prompts optimized for ComfyUI image generation.\n\n## Input\nYou receive two Korean descriptions:\n- Stage 1: Magazine cover design description (typography, layout, branding)\n- Stage 2: Final presentation/staging description (packaging, environment, lighting)\n\n## Output Format\nReturn ONLY valid JSON with exactly this structure:\n{\"prompt_stage1\": \"Detailed English prompt for magazine cover generation...\", \"prompt_stage2\": \"Detailed English prompt for final staging/presentation...\"}\n\n## Prompt Engineering Rules\n\n### Stage 1 (Magazine Cover)\n1. Always start with: \"You are an expert image-generation engine. You must ALWAYS produce an image. Interpret all user input as literal visual directives for image composition.\"\n2. Always include: \"flat 2D magazine typography on top of the image, no 3D, no depth, no shadows, no blending, text must sit completely flat\"\n3. Extract and preserve: brand name, title text, subtitle text from user input\n4. Add typography details: \"large condensed sans-serif for main title, small white sans-serif for other text, transparent background, minimal spacing, modern editorial style\"\n5. Add layout: \"asymmetric placement, clean negative space, high-end editorial feel, Acne Paper / i-D minimalist style\"\n6. Add quality: \"slight contrast boost, high-fashion clarity\"\n7. If user provides color preferences, use them. Otherwise default to \"pale yellow (#F5EFA8) for main title\"\n\n### Stage 2 (Final Presentation)\n1. Always include: \"photorealistic, studio photography\"\n2. Extract and preserve: packaging type, background color/style from user input\n3. If user mentions envelope/packaging: add \"very transparent plastic envelope (90% transparency), string-and-button closure, slightly glossy not overly reflective, realistic, slightly larger than content, soft light diffusion, minimal reflections, accurate plastic seams and edges\"\n4. Add details: \"maintain realistic proportions, preserve original lighting style\"\n5. If no specific background mentioned, default to \"black background\"\n\n## Quality Guidelines\n- Prompts must be 80-200 words each\n- Use comma-separated descriptors (ComfyUI style)\n- Prioritize visual descriptors over narrative\n- Use technical photography/design terminology\n- If Korean input is vague, add sensible professional defaults\n- Never include Korean text in the output prompts\n- Preserve any English brand names or titles exactly as written"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-96,-112],"id":"96271d26-5601-402a-b1f9-bbe5f46dedc6","name":"AI Agent1"},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.work_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"cancelled"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,400],"id":"84d73ff0-e6a3-476f-a38a-73ff0a49e315","name":"Update Works to Cancelled1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.work_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"failed"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,256],"id":"1f71b205-b00c-41d2-b5f7-7e1e8c1d0119","name":"Update Works to Failed1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Extract Image Data1').item.json.work_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"completed"},{"fieldId":"output_file_id","fieldValue":"={{ $('Create Files Record1').item.json.id }}"},{"fieldId":"output_data","fieldValue":"={{ $json.output_data_json }}"},{"fieldId":"thumbnail_file_id","fieldValue":"={{ $('Create Files Record1').item.json.id }}"},{"fieldId":"tags","fieldValue":"{\"I2I\", \"Image_Edit\", \"합성\", \"나노바나나\"}"},{"fieldId":"title","fieldValue":"={{ $json.title }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,96],"id":"cbce57ac-7ce6-42cb-b367-e6abfa04d83e","name":"Update Works to Completed1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"tableId":"files","fieldsUi":{"fieldValues":[{"fieldId":"bucket_id","fieldValue":"=works"},{"fieldId":"file_path","fieldValue":"={{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Extract Image Data1').item.json.work_id }}/{{ $('Extract Image Data1').item.json.filename }}"},{"fieldId":"file_name","fieldValue":"={{ $('Extract Image Data1').item.json.filename }}"},{"fieldId":"file_size","fieldValue":"={{ $('Upload to Storage1').item.json.size || 0 }}"},{"fieldId":"file_type","fieldValue":"=image/png"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"user_id","fieldValue":"={{ $('Extract Image Data1').item.json.user_id }}"},{"fieldId":"work_id","fieldValue":"={{ $('Extract Image Data1').item.json.work_id }}"},{"fieldId":"file_id","fieldValue":"={{ $('Upload to Storage1').item.json.Id }}"},{"fieldId":"width","fieldValue":"=1024"},{"fieldId":"height","fieldValue":"=1472"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,96],"id":"1752e579-f00f-4d7b-b809-3bcf13c17bd5","name":"Create Files Record1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"method":"POST","url":"=https://inwtsfxxunljfznahixt.supabase.co/storage/v1/object/works/{{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Execute a SQL query1').item.json.work_id }}/{{ $('Extract Image Data1').item.json.filename }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/png"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,96],"id":"5b19206c-9780-4134-bde1-890774fb1867","name":"Upload to Storage1","credentials":{"httpHeaderAuth":{"id":"2d2J6D3c7qf3JGGP","name":"Supabase_Role"}}},{"parameters":{"operation":"toBinary","sourceProperty":"image_base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-16,96],"id":"ab5c7b90-4966-473a-9763-5f96280cd2c7","name":"Convert to File1","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"image_base64","name":"image_base64","value":"={{ $json.output.image }}","type":"string"},{"id":"filename","name":"filename","value":"={{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Execute a SQL query1').item.json.work_id }}/output.png","type":"string"},{"id":"work_id","name":"work_id","value":"={{ $('Execute a SQL query1').item.json.work_id }}","type":"string"},{"id":"user_id","name":"user_id","value":"={{ $('Execute a SQL query1').item.json.user_id }}","type":"string"},{"id":"runpod_job_id","name":"runpod_job_id","value":"={{ $('Submit to RunPod1').item.json.id }}","type":"string"},{"id":"4ae3fc1a-90ed-42f9-9528-f3828f5bc2f2","name":"project_id","value":"={{ $('Execute a SQL query1').item.json.project_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,96],"id":"82735f4a-8b5e-41cd-a4ae-25eae28d537b","name":"Extract Image Data1"},{"parameters":{"assignments":{"assignments":[{"id":"work_id","name":"work_id","value":"={{ $('Execute a SQL query1').item.json.id }}","type":"string"},{"id":"runpod_job_id","name":"runpod_job_id","value":"={{ $json.id }}","type":"string"},{"id":"user_id","name":"user_id","value":"={{ $('Execute a SQL query1').item.json.user_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,560],"id":"fc005baf-2b32-4f3d-a37a-627c4e9b4373","name":"Preserve Input Data1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-736,96],"id":"ef3b4355-dbfa-42c3-8c8f-b425bac221b7","name":"Wait 5s1","webhookId":"wait-image-edit"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals"},"id":"completed-condition"}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"failed-condition","leftValue":"={{ $json.status }}","rightValue":"FAILED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cancelled-condition","leftValue":"={{ $json.status }}","rightValue":"CANCELLED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelled"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-400,96],"id":"0c12c80f-6dc9-4fb8-a3e7-d5dc3659cdef","name":"Switch (Status)1"},{"parameters":{"url":"=https://api.runpod.ai/v2/fbzd6b0hcz2y0l/status/{{ $json.runpod_job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-576,96],"id":"3d00aa0e-7dab-43f6-ab0d-e634aa01f3e0","name":"Check RunPod Status1","credentials":{"httpHeaderAuth":{"id":"VnSRamgasodbgGr1","name":"runpod_serverless_api"}}},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"processing"},{"fieldId":"runpod_job_id","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[496,-112],"id":"65e9a4b6-bbe2-4f94-af6a-cd90e022cf90","name":"Update Works to Processing1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"method":"POST","url":"https://api.runpod.ai/v2/fbzd6b0hcz2y0l/run","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ input: $json.input }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,-112],"id":"9ba80e41-2db5-414d-9651-5543ac7b0fe2","name":"Submit to RunPod1","credentials":{"httpHeaderAuth":{"id":"VnSRamgasodbgGr1","name":"runpod_serverless_api"}}},{"parameters":{"jsCode":"// ============================================================\n// XiCON KLEIN Poster Maker - Payload Builder (v2: dual prompt)\n// ============================================================\n\nconst sqlData = $('Execute a SQL query1').item.json;\nconst inputData = sqlData.input_data || {};\n\n// Parse AI Agent output (JSON string -> object)\nlet aiOutput = {};\ntry {\n  const agentText = $('AI Agent1').item.json.output || $('AI Agent1').item.json.text || '';\n  // AI Agent may return JSON wrapped in markdown code blocks\n  const jsonMatch = agentText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    aiOutput = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  // Fallback to raw user input if AI parsing fails\n}\n\n// image_url = DB form_fields request_key (primary)\nconst image_url = inputData.image_url || inputData.reference_image || inputData.product_image || '';\n\n// Use AI-translated prompts, fall back to raw user input, then defaults\nconst prompt_stage1 = aiOutput.prompt_stage1 || inputData.prompt_stage1 || inputData.prompt || 'A dramatic movie poster with bold magazine typography';\nconst prompt_stage2 = aiOutput.prompt_stage2 || inputData.prompt_stage2 || 'transparent plastic envelope packaging, black background, studio photography';\n\n// Seed handling\nconst seed = inputData.seed ?? 0;\n\nreturn {\n  json: {\n    input: {\n      image_url: image_url,\n      prompt_stage1: prompt_stage1,\n      prompt_stage2: prompt_stage2,\n      seed: seed\n    },\n    work_id: sqlData.id,\n    generation_metadata: {\n      prompt_stage1: prompt_stage1,\n      prompt_stage2: prompt_stage2,\n      original_prompt_stage1: inputData.prompt_stage1 || '',\n      original_prompt_stage2: inputData.prompt_stage2 || '',\n      image_url: image_url,\n      model: 'XiCON_KLEIN_Poster_Maker',\n      width: 1024,\n      height: 1472,\n      seed: seed,\n      submitted_at: new Date().toISOString()\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-112],"id":"8785064c-c977-4ee6-b7b8-1826af9309d0","name":"Build ComfyUI Payload1"},{"parameters":{"operation":"update","tableId":"generation_jobs","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.job_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"taken"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,-112],"id":"8140576b-1fbe-43e2-8849-3d90029dfbae","name":"Mark as Taken1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-jobs-exist","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-432,-112],"id":"eeb19bc8-2dc6-416f-ad66-425d734adbad","name":"IF Jobs Exist1"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"HTTP-Referer\t","value":"https://xicon.co.kr"},{"name":"X-Title\t","value":"XiCON Title Generator"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'openai/gpt-4o-mini',\n  messages: [\n    { \n      role: 'system', \n      content: '이미지를 분석하고 한국어 제목을 10자 이하로 생성하세요. JSON 형식으로만 출력: {\"title\": \"제목\"}' \n    },\n    { \n      role: 'user', \n      content: [\n        { type: 'text', text: '이 이미지에 어울리는 한국어 제목을 생성해주세요.' },\n        { type: 'image_url', image_url: { url: $json.image_url } }\n      ]\n    }\n  ],\n  max_tokens: 50,\n  response_format: { type: 'json_object' }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[496,96],"id":"c617bb84-3413-4df5-bf29-69fd4956396d","name":"Call Vision API","credentials":{"httpHeaderAuth":{"id":"p7Cd2ie6AJ6kAF33","name":"OpenRouter_XiCON_2"}}}],"connections":{"Build Image URL":{"main":[[{"node":"Call Vision API","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create Files Record1","type":"main","index":0}]]},"Prepare Update Data1":{"main":[[{"node":"Update Works to Completed1","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"IF Jobs Exist1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Build ComfyUI Payload1","type":"main","index":0}]]},"Create Files Record1":{"main":[[{"node":"Prepare Update Data1","type":"main","index":0}]]},"Upload to Storage1":{"main":[[{"node":"Build Image URL","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Upload to Storage1","type":"main","index":0}]]},"Extract Image Data1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Preserve Input Data1":{"main":[[{"node":"Wait 5s1","type":"main","index":0}]]},"Wait 5s1":{"main":[[{"node":"Check RunPod Status1","type":"main","index":0}]]},"Switch (Status)1":{"main":[[{"node":"Extract Image Data1","type":"main","index":0}],[{"node":"Update Works to Failed1","type":"main","index":0}],[{"node":"Update Works to Cancelled1","type":"main","index":0}],[{"node":"Preserve Input Data1","type":"main","index":0}]]},"Check RunPod Status1":{"main":[[{"node":"Switch (Status)1","type":"main","index":0}]]},"Update Works to Processing1":{"main":[[{"node":"Wait 5s1","type":"main","index":0}]]},"Submit to RunPod1":{"main":[[{"node":"Update Works to Processing1","type":"main","index":0}]]},"Build ComfyUI Payload1":{"main":[[{"node":"Submit to RunPod1","type":"main","index":0}]]},"Mark as Taken1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"IF Jobs Exist1":{"main":[[],[{"node":"Mark as Taken1","type":"main","index":0}]]},"Call Vision API":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e29da042-b01d-4a24-9cba-e7b848e91597","activeVersionId":"e29da042-b01d-4a24-9cba-e7b848e91597","versionCounter":45,"triggerCount":1,"shared":[{"updatedAt":"2026-02-06T08:04:17.690Z","createdAt":"2026-02-06T08:04:17.690Z","role":"workflow:owner","workflowId":"vxVht2JCbrQxCp5y","projectId":"q3sbwapD6Yx5U4ea","project":{"updatedAt":"2025-12-01T08:10:12.032Z","createdAt":"2025-12-01T08:02:26.233Z","id":"q3sbwapD6Yx5U4ea","name":"keymon blendx <keymon@blendx.co.kr>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-01T08:02:26.233Z","createdAt":"2025-12-01T08:02:26.233Z","userId":"1aab3e13-8b3a-4555-9d17-d0e38640da8b","projectId":"q3sbwapD6Yx5U4ea","user":{"updatedAt":"2026-02-11T01:44:01.000Z","createdAt":"2025-12-01T08:02:25.523Z","id":"1aab3e13-8b3a-4555-9d17-d0e38640da8b","email":"keymon@blendx.co.kr","firstName":"keymon","lastName":"blendx","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-01T08:10:16.713Z","personalization_survey_n8n_version":"1.121.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"lADA8cPYPsp53Kmi","userActivatedAt":1765345343531,"npsSurvey":{"responded":true,"lastShownAt":1765779879190}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-11T10:23:22.949Z","createdAt":"2026-02-11T10:23:22.949Z","versionId":"e29da042-b01d-4a24-9cba-e7b848e91597","workflowId":"vxVht2JCbrQxCp5y","nodes":[{"parameters":{"httpMethod":"POST","path":"poster_maker","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,-112],"id":"b9b32838-55dc-431f-8140-1faa9cf220ec","name":"Webhook","webhookId":"image-edit-qwen"},{"parameters":{"jsCode":"// 업로드된 이미지의 공개 URL 생성\nconst userId = $('Execute a SQL query1').first().json.user_id;\nconst workId = $('Extract Image Data1').first().json.work_id;\nconst filename = $('Extract Image Data1').first().json.filename;\n\nconst imageUrl = `https://inwtsfxxunljfznahixt.supabase.co/storage/v1/object/public/works/${userId}/${workId}/${filename}`;\n\nreturn {\n  json: {\n    image_url: imageUrl,\n    work_id: workId,\n    user_id: userId,\n    filename: filename\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,96],"id":"cac31af9-c3b6-4f02-8eb4-e2be4c19676e","name":"Build Image URL"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Vision API 응답에서 title 추출\nlet title = \"AI 생성 이미지\";\n\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  title = (parsed.title || \"AI 생성 이미지\").substring(0, 10);\n} catch (e) {\n  console.log('Title parse error:', e.message);\n}\n\nreturn {\n  json: {\n    title: title,\n    // 이전 데이터 유지\n    image_url: $('Build Image URL').first().json.image_url,\n    work_id: $('Build Image URL').first().json.work_id,\n    user_id: $('Build Image URL').first().json.user_id\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,96],"id":"10eba003-0d7b-4cc0-96eb-7bf070e9c977","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"file_id","name":"file_id","value":"={{ $json.file_id }}","type":"string"},{"id":"work_id","name":"work_id","value":"={{ $json.work_id }}","type":"string"},{"id":"output_data_json","name":"output_data_json","value":"={{ $('Build ComfyUI Payload1').all()[$itemIndex].json.generation_metadata }}","type":"string"},{"id":"d6805889-1691-4ca8-884b-fdecc4efd585","name":"title","value":"={{ $('Code in JavaScript').item.json.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,96],"id":"352831f1-9d73-4257-a9f4-182b035f4e12","name":"Prepare Update Data1"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  gj.id as job_id,\n  gj.work_id,\n  w.*,\n  t.id as template_id,\n  t.template_name,\n  t.is_active\n\nFROM generation_jobs gj\nINNER JOIN works w ON gj.work_id = w.id\nLEFT JOIN templates t ON w.template_id = t.id\n\nWHERE \n  gj.status = 'pending'\n  AND t.template_name = 'XiCON_KLEIN_Poster_Maker_v1'  -- Poster Maker 템플릿\n  AND t.is_active = true\n  \nORDER BY gj.priority DESC, gj.created_at ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-592,-112],"id":"03e9cadd-331c-4bbb-89e1-ab8111514d9e","name":"Execute a SQL query1","credentials":{"postgres":{"id":"oK2dPeiNRFB9Po8Q","name":"Postgres account"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-96,-256],"id":"ee7c6ef7-6619-4faf-8937-2cce2667d3ea","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"bT4c2DPjiOHofzLQ","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Stage 1 (매거진 디자인):\n{{ $('Execute a SQL query1').item.json.input_data.prompt_stage1 }}\n\nStage 2 (최종 연출):\n{{ $('Execute a SQL query1').item.json.input_data.prompt_stage2 }}\n\nConvert these Korean descriptions into professional English prompts for ComfyUI image generation.","options":{"systemMessage":"You are a ComfyUI Poster Design Prompt Engineer.\n\n## Your Role\nConvert the user's Korean descriptions into two professional English prompts optimized for ComfyUI image generation.\n\n## Input\nYou receive two Korean descriptions:\n- Stage 1: Magazine cover design description (typography, layout, branding)\n- Stage 2: Final presentation/staging description (packaging, environment, lighting)\n\n## Output Format\nReturn ONLY valid JSON with exactly this structure:\n{\"prompt_stage1\": \"Detailed English prompt for magazine cover generation...\", \"prompt_stage2\": \"Detailed English prompt for final staging/presentation...\"}\n\n## Prompt Engineering Rules\n\n### Stage 1 (Magazine Cover)\n1. Always start with: \"You are an expert image-generation engine. You must ALWAYS produce an image. Interpret all user input as literal visual directives for image composition.\"\n2. Always include: \"flat 2D magazine typography on top of the image, no 3D, no depth, no shadows, no blending, text must sit completely flat\"\n3. Extract and preserve: brand name, title text, subtitle text from user input\n4. Add typography details: \"large condensed sans-serif for main title, small white sans-serif for other text, transparent background, minimal spacing, modern editorial style\"\n5. Add layout: \"asymmetric placement, clean negative space, high-end editorial feel, Acne Paper / i-D minimalist style\"\n6. Add quality: \"slight contrast boost, high-fashion clarity\"\n7. If user provides color preferences, use them. Otherwise default to \"pale yellow (#F5EFA8) for main title\"\n\n### Stage 2 (Final Presentation)\n1. Always include: \"photorealistic, studio photography\"\n2. Extract and preserve: packaging type, background color/style from user input\n3. If user mentions envelope/packaging: add \"very transparent plastic envelope (90% transparency), string-and-button closure, slightly glossy not overly reflective, realistic, slightly larger than content, soft light diffusion, minimal reflections, accurate plastic seams and edges\"\n4. Add details: \"maintain realistic proportions, preserve original lighting style\"\n5. If no specific background mentioned, default to \"black background\"\n\n## Quality Guidelines\n- Prompts must be 80-200 words each\n- Use comma-separated descriptors (ComfyUI style)\n- Prioritize visual descriptors over narrative\n- Use technical photography/design terminology\n- If Korean input is vague, add sensible professional defaults\n- Never include Korean text in the output prompts\n- Preserve any English brand names or titles exactly as written"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-96,-112],"id":"96271d26-5601-402a-b1f9-bbe5f46dedc6","name":"AI Agent1"},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.work_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"cancelled"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,400],"id":"84d73ff0-e6a3-476f-a38a-73ff0a49e315","name":"Update Works to Cancelled1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.work_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"failed"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,256],"id":"1f71b205-b00c-41d2-b5f7-7e1e8c1d0119","name":"Update Works to Failed1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Extract Image Data1').item.json.work_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"completed"},{"fieldId":"output_file_id","fieldValue":"={{ $('Create Files Record1').item.json.id }}"},{"fieldId":"output_data","fieldValue":"={{ $json.output_data_json }}"},{"fieldId":"thumbnail_file_id","fieldValue":"={{ $('Create Files Record1').item.json.id }}"},{"fieldId":"tags","fieldValue":"{\"I2I\", \"Image_Edit\", \"합성\", \"나노바나나\"}"},{"fieldId":"title","fieldValue":"={{ $json.title }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,96],"id":"cbce57ac-7ce6-42cb-b367-e6abfa04d83e","name":"Update Works to Completed1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"tableId":"files","fieldsUi":{"fieldValues":[{"fieldId":"bucket_id","fieldValue":"=works"},{"fieldId":"file_path","fieldValue":"={{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Extract Image Data1').item.json.work_id }}/{{ $('Extract Image Data1').item.json.filename }}"},{"fieldId":"file_name","fieldValue":"={{ $('Extract Image Data1').item.json.filename }}"},{"fieldId":"file_size","fieldValue":"={{ $('Upload to Storage1').item.json.size || 0 }}"},{"fieldId":"file_type","fieldValue":"=image/png"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"user_id","fieldValue":"={{ $('Extract Image Data1').item.json.user_id }}"},{"fieldId":"work_id","fieldValue":"={{ $('Extract Image Data1').item.json.work_id }}"},{"fieldId":"file_id","fieldValue":"={{ $('Upload to Storage1').item.json.Id }}"},{"fieldId":"width","fieldValue":"=1024"},{"fieldId":"height","fieldValue":"=1472"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,96],"id":"1752e579-f00f-4d7b-b809-3bcf13c17bd5","name":"Create Files Record1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"method":"POST","url":"=https://inwtsfxxunljfznahixt.supabase.co/storage/v1/object/works/{{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Execute a SQL query1').item.json.work_id }}/{{ $('Extract Image Data1').item.json.filename }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/png"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[160,96],"id":"5b19206c-9780-4134-bde1-890774fb1867","name":"Upload to Storage1","credentials":{"httpHeaderAuth":{"id":"2d2J6D3c7qf3JGGP","name":"Supabase_Role"}}},{"parameters":{"operation":"toBinary","sourceProperty":"image_base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-16,96],"id":"ab5c7b90-4966-473a-9763-5f96280cd2c7","name":"Convert to File1","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"image_base64","name":"image_base64","value":"={{ $json.output.image }}","type":"string"},{"id":"filename","name":"filename","value":"={{ $('Execute a SQL query1').item.json.user_id }}/{{ $('Execute a SQL query1').item.json.work_id }}/output.png","type":"string"},{"id":"work_id","name":"work_id","value":"={{ $('Execute a SQL query1').item.json.work_id }}","type":"string"},{"id":"user_id","name":"user_id","value":"={{ $('Execute a SQL query1').item.json.user_id }}","type":"string"},{"id":"runpod_job_id","name":"runpod_job_id","value":"={{ $('Submit to RunPod1').item.json.id }}","type":"string"},{"id":"4ae3fc1a-90ed-42f9-9528-f3828f5bc2f2","name":"project_id","value":"={{ $('Execute a SQL query1').item.json.project_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,96],"id":"82735f4a-8b5e-41cd-a4ae-25eae28d537b","name":"Extract Image Data1"},{"parameters":{"assignments":{"assignments":[{"id":"work_id","name":"work_id","value":"={{ $('Execute a SQL query1').item.json.id }}","type":"string"},{"id":"runpod_job_id","name":"runpod_job_id","value":"={{ $json.id }}","type":"string"},{"id":"user_id","name":"user_id","value":"={{ $('Execute a SQL query1').item.json.user_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,560],"id":"fc005baf-2b32-4f3d-a37a-627c4e9b4373","name":"Preserve Input Data1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-736,96],"id":"ef3b4355-dbfa-42c3-8c8f-b425bac221b7","name":"Wait 5s1","webhookId":"wait-image-edit"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"COMPLETED","operator":{"type":"string","operation":"equals"},"id":"completed-condition"}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"failed-condition","leftValue":"={{ $json.status }}","rightValue":"FAILED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cancelled-condition","leftValue":"={{ $json.status }}","rightValue":"CANCELLED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelled"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-400,96],"id":"0c12c80f-6dc9-4fb8-a3e7-d5dc3659cdef","name":"Switch (Status)1"},{"parameters":{"url":"=https://api.runpod.ai/v2/fbzd6b0hcz2y0l/status/{{ $json.runpod_job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-576,96],"id":"3d00aa0e-7dab-43f6-ab0d-e634aa01f3e0","name":"Check RunPod Status1","credentials":{"httpHeaderAuth":{"id":"VnSRamgasodbgGr1","name":"runpod_serverless_api"}}},{"parameters":{"operation":"update","tableId":"works","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"processing"},{"fieldId":"runpod_job_id","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[496,-112],"id":"65e9a4b6-bbe2-4f94-af6a-cd90e022cf90","name":"Update Works to Processing1","credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"method":"POST","url":"https://api.runpod.ai/v2/fbzd6b0hcz2y0l/run","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ input: $json.input }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,-112],"id":"9ba80e41-2db5-414d-9651-5543ac7b0fe2","name":"Submit to RunPod1","credentials":{"httpHeaderAuth":{"id":"VnSRamgasodbgGr1","name":"runpod_serverless_api"}}},{"parameters":{"jsCode":"// ============================================================\n// XiCON KLEIN Poster Maker - Payload Builder (v2: dual prompt)\n// ============================================================\n\nconst sqlData = $('Execute a SQL query1').item.json;\nconst inputData = sqlData.input_data || {};\n\n// Parse AI Agent output (JSON string -> object)\nlet aiOutput = {};\ntry {\n  const agentText = $('AI Agent1').item.json.output || $('AI Agent1').item.json.text || '';\n  // AI Agent may return JSON wrapped in markdown code blocks\n  const jsonMatch = agentText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    aiOutput = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  // Fallback to raw user input if AI parsing fails\n}\n\n// image_url = DB form_fields request_key (primary)\nconst image_url = inputData.image_url || inputData.reference_image || inputData.product_image || '';\n\n// Use AI-translated prompts, fall back to raw user input, then defaults\nconst prompt_stage1 = aiOutput.prompt_stage1 || inputData.prompt_stage1 || inputData.prompt || 'A dramatic movie poster with bold magazine typography';\nconst prompt_stage2 = aiOutput.prompt_stage2 || inputData.prompt_stage2 || 'transparent plastic envelope packaging, black background, studio photography';\n\n// Seed handling\nconst seed = inputData.seed ?? 0;\n\nreturn {\n  json: {\n    input: {\n      image_url: image_url,\n      prompt_stage1: prompt_stage1,\n      prompt_stage2: prompt_stage2,\n      seed: seed\n    },\n    work_id: sqlData.id,\n    generation_metadata: {\n      prompt_stage1: prompt_stage1,\n      prompt_stage2: prompt_stage2,\n      original_prompt_stage1: inputData.prompt_stage1 || '',\n      original_prompt_stage2: inputData.prompt_stage2 || '',\n      image_url: image_url,\n      model: 'XiCON_KLEIN_Poster_Maker',\n      width: 1024,\n      height: 1472,\n      seed: seed,\n      submitted_at: new Date().toISOString()\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-112],"id":"8785064c-c977-4ee6-b7b8-1826af9309d0","name":"Build ComfyUI Payload1"},{"parameters":{"operation":"update","tableId":"generation_jobs","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Execute a SQL query1').item.json.job_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"taken"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,-112],"id":"8140576b-1fbe-43e2-8849-3d90029dfbae","name":"Mark as Taken1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"CSWlnQ927dKwfJoO","name":"Supabase_XICON(TBD)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-jobs-exist","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-432,-112],"id":"eeb19bc8-2dc6-416f-ad66-425d734adbad","name":"IF Jobs Exist1"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"HTTP-Referer\t","value":"https://xicon.co.kr"},{"name":"X-Title\t","value":"XiCON Title Generator"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'openai/gpt-4o-mini',\n  messages: [\n    { \n      role: 'system', \n      content: '이미지를 분석하고 한국어 제목을 10자 이하로 생성하세요. JSON 형식으로만 출력: {\"title\": \"제목\"}' \n    },\n    { \n      role: 'user', \n      content: [\n        { type: 'text', text: '이 이미지에 어울리는 한국어 제목을 생성해주세요.' },\n        { type: 'image_url', image_url: { url: $json.image_url } }\n      ]\n    }\n  ],\n  max_tokens: 50,\n  response_format: { type: 'json_object' }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[496,96],"id":"c617bb84-3413-4df5-bf29-69fd4956396d","name":"Call Vision API","credentials":{"httpHeaderAuth":{"id":"p7Cd2ie6AJ6kAF33","name":"OpenRouter_XiCON_2"}}}],"connections":{"Build Image URL":{"main":[[{"node":"Call Vision API","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create Files Record1","type":"main","index":0}]]},"Prepare Update Data1":{"main":[[{"node":"Update Works to Completed1","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"IF Jobs Exist1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Build ComfyUI Payload1","type":"main","index":0}]]},"Create Files Record1":{"main":[[{"node":"Prepare Update Data1","type":"main","index":0}]]},"Upload to Storage1":{"main":[[{"node":"Build Image URL","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Upload to Storage1","type":"main","index":0}]]},"Extract Image Data1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Preserve Input Data1":{"main":[[{"node":"Wait 5s1","type":"main","index":0}]]},"Wait 5s1":{"main":[[{"node":"Check RunPod Status1","type":"main","index":0}]]},"Switch (Status)1":{"main":[[{"node":"Extract Image Data1","type":"main","index":0}],[{"node":"Update Works to Failed1","type":"main","index":0}],[{"node":"Update Works to Cancelled1","type":"main","index":0}],[{"node":"Preserve Input Data1","type":"main","index":0}]]},"Check RunPod Status1":{"main":[[{"node":"Switch (Status)1","type":"main","index":0}]]},"Update Works to Processing1":{"main":[[{"node":"Wait 5s1","type":"main","index":0}]]},"Submit to RunPod1":{"main":[[{"node":"Update Works to Processing1","type":"main","index":0}]]},"Build ComfyUI Payload1":{"main":[[{"node":"Submit to RunPod1","type":"main","index":0}]]},"Mark as Taken1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"IF Jobs Exist1":{"main":[[],[{"node":"Mark as Taken1","type":"main","index":0}]]},"Call Vision API":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]}},"authors":"keymon blendx","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2026-02-11T10:23:23.020Z","id":139,"workflowId":"vxVht2JCbrQxCp5y","versionId":"e29da042-b01d-4a24-9cba-e7b848e91597","event":"activated","userId":"1aab3e13-8b3a-4555-9d17-d0e38640da8b"}]}}